.login-btn {
    background-color: #FD696B !important;
    border-color: #FD696B !important;
}

.admin-btn {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

@media(max-width: 973px) {
    .login-btn, .admin-btn {
        margin-top: 5px;
    }
}